@model truyenthanhServerWeb.Models.Account
@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h3 class="display-4">Truyền thanh xã @Model.Username</h3>
</div>

<br />

<component type="typeof(SongUser)" render-mode="Server" param-userName="@Model.Username" />

<br />

<component type="typeof(DeviceUser)" render-mode="Server" param-userName="@Model.Username" />