@model truyenthanhServerWeb.Models.Account
@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">Giao diện điều khiển</h1>
</div>

<br />

<div class="text-center alert-info">
    <h3 class="display-4">Xin chao @Model.Username</h3>
</div>

<br />

<component type="typeof(SongUser)" render-mode="Server" param-userName="@Model.Username" />

<br />

<component type="typeof(DeviceUser)" render-mode="Server" param-userName="@Model.Username" />